@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

.img-responsive {
    max-width: 100%;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    width: 100%;
    background-color: #fff;
}
aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}


#modal1{
    z-index: 2;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    

}

#modal1 #fechar{
    background-color: white;
    color: #C2185B;
    border-style: none;
    margin-left: -390px;
    margin-top: -20px;
    margin-bottom: 50px;
}

#modal1 form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 500px;
    height: 350px;
    background-color: #fff;
}

form #textoreserva{
    color: #C2185B;
}

form input{
    width: 80%;
    border: 1px solid #b5b5b5;
    color: #7c7c7c;
    padding: 5px;
    font-size: 14px;

}

form #submit{
    background-color: #C2185B;
    color: white;
    width: 400px;
    height: 35px;
    border-style: none;
}